<div class="card mb-0">
    <div class="grid">
        <div class="col">
            <span class="block text-cyan-600 font-medium mb-3"
                >Meus críterios</span
            >
            <span class="block text-600 font-medium mb-3"
                >Critérios definidos para: Qualquer professor adquirir
                moedas</span
            >
            <span class="block text-600 font-medium mb-3">Condições:</span>
            <input pAutoFocus [autofocus]="true" />


        </div>
    </div>
</div>
