<p-card>
    <div class="p-fluid grid">
        <div class="col-3 lg:col-2">
            <label for="dtLote">Data</label>
            <p-calendar [(ngModel)]="dadosLote.fabricacao" [showIcon]="true" inputId="dtLote"></p-calendar>
        </div>
        <div class="col-3 lg:col-2">
            <label for="txLote">Lote</label>
            <input type="text" pInputText id="txLote" [(ngModel)]="dadosLote.lote" />
        </div>
        <div class="col-3 lg:col-2 flex align-items-center">
            <p-checkbox name="cbLote" label="Lote ativo" trueValue="V" falseValue="F" [binary]="true"
                [(ngModel)]="dadosLote.ativo"></p-checkbox>
        </div>
    </div>
</p-card>